<% include ./assets/header %>
<form class="ui form" action="/login" method="post">
        <h1 style="text-align: center">LOGIN</h1>
    <div class="field" style="width: 30%; margin:30px auto">
      <label>username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field" style="width: 30%; margin:30px auto">
      <label>password</label>
      <input type="password" name="password" placeholder="password">
    </div>
   
          <div style="width: 30%; margin:30px auto">
                <button class="fluid ui black button">Submit</button>
    </div>
  </form>
<% include ./assets/footer %>